@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600");


/****************************************************************/
/* The site's title */
body#mysite h1
{
	font-size: 3em;
	font-weight: 100;
	padding-top: 1.2em;
	padding-bottom: 0.6em;
}
/****************************************************************/

/****************************************************************/
/* Homepage stuff */

body#mysite .my-photo
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	float: left;
	
	height: 11.6em;
	/*width: 8.5em;*/
	
	margin-top: 0.5em;
	margin-right: 1.5em;
	margin-bottom: 1em;
}

body#mysite .my-contact
{
	float: left;
/*	background-color: red;*/
}
/****************************************************************/


/****************************************************************/
/* Papers page classes */
body#mysite h5.paper-item-title > a 
{
	color: inherit; 
	/*text-decoration: underline;*/
}


body#mysite .paper-item
{
	/*margin-top: 2.0em;*/
}

body#mysite .papers-begin
{
	height: 1em;
	clear: both;
}

body#mysite .papers-end
{
	height: 1em;
	clear: both;
}

body#mysite .author-no-url
{
	display: inline;
	color: hsl(208,76%,43%); 
	text-decoration: none;
}

body#mysite .paper-item-sep
{
 	border: 0; 
 	height: 0; 
 	border-top: 1px solid rgba(0, 0, 0, 0.1); 
 	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 0.5em;
	margin-bottom: 1.1em;
}

body#mysite .paper-item-thumbnail
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	float: left;
	
	height: 5.5em;
	width: 8.8em;
	margin-top: 0.3em;
	margin-right: 1.0em;
	margin-bottom: 0.5em;
}

body#mysite div.paper-item-description
{
	float: left;
	padding-bottom: 0.8em;
}


body#mysite .paper-item-description > a
{
	/*text-decoration: underline;
	color: inherit; */
}

body#mysite i.paper-item-link-icon
{
 	position: relative; 
 	top: -0.7em; 
	font-size: 55%;
}


body#mysite a.paper-media-link
{
	margin-right: 0.5em;
}

body#mysite .paper-media-link-sep
{
	display:inline;
	margin-right:0.5em;
}

body#mysite .text-icon
{
	margin-right: 0.2em;
}
/*********************************************************/



/*********************************************************/
/* Common stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html 
{
	font-family: "Open Sans"; 
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body 
{
	color: 0;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
    overflow-y: scroll;
	/*font-size: 11pt;*/
}

.ink-grid {
  width: auto;
  max-width: 108ex;
  margin: 0 auto;
  padding: 0 2em;
}

img 
{
	width: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
	border: 0;
}

a { color: hsl(208,76%,43%); text-decoration: none; }
a:hover { color: rgb(66, 139, 202); text-decoration: underline; }
a:focus { outline: thin dotted;  }
a:active, a:hover { outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p { line-height: 1.5; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
h1 { font-size: 2em; }
b, strong { font-weight: bold; }

/* Headings  */
h1, h2, h3, h4, h5, h6 { color: inherit; }
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.715em; }
h4 { font-size: 1.438em; }
h5 { font-size: 1.250em; }
h6 { font-size: 1em; }
h3, h4, h5, h6 { line-height: 1.3; }

div + h1, div + h2, div + h3, div + h4, div + h5, div + h6, div + section { margin-top: 1.5em; }
h1 + address, h2 + address, h3 + address, h4 + address, h5 + address, h6 + address, section + address, h1 + article, h2 + article, h3 + article, h4 + article, h5 + article, h6 + article, section + article, h1 + aside, h2 + aside, h3 + aside, h4 + aside, h5 + aside, h6 + aside, section + aside, h1 + audio, h2 + audio, h3 + audio, h4 + audio, h5 + audio, h6 + audio, section + audio, h1 + blockquote, h2 + blockquote, h3 + blockquote, h4 + blockquote, h5 + blockquote, h6 + blockquote, section + blockquote, h1 + canvas, h2 + canvas, h3 + canvas, h4 + canvas, h5 + canvas, h6 + canvas, section + canvas, h1 + details, h2 + details, h3 + details, h4 + details, h5 + details, h6 + details, section + details, h1 + dl, h2 + dl, h3 + dl, h4 + dl, h5 + dl, h6 + dl, section + dl, h1 + figure, h2 + figure, h3 + figure, h4 + figure, h5 + figure, h6 + figure, section + figure, h1 + footer, h2 + footer, h3 + footer, h4 + footer, h5 + footer, h6 + footer, section + footer, h1 + form, h2 + form, h3 + form, h4 + form, h5 + form, h6 + form, section + form, h1 + header, h2 + header, h3 + header, h4 + header, h5 + header, h6 + header, section + header, h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr, section + hr, h1 + img, h2 + img, h3 + img, h4 + img, h5 + img, h6 + img, section + img, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol, section + ol, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, section + p, h1 + pre, h2 + pre, h3 + pre, h4 + pre, h5 + pre, h6 + pre, section + pre, h1 + table, h2 + table, h3 + table, h4 + table, h5 + table, h6 + table, section + table, h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, section + ul, h1 + video, h2 + video, h3 + video, h4 + video, h5 + video, h6 + video, section + video 
{ margin-top: 1em; }
address + h1, address + h2, address + h3, address + h4, address + h5, address + h6, address + section, article + h1, article + h2, article + h3, article + h4, article + h5, article + h6, article + section, aside + h1, aside + h2, aside + h3, aside + h4, aside + h5, aside + h6, aside + section, audio + h1, audio + h2, audio + h3, audio + h4, audio + h5, audio + h6, audio + section, blockquote + h1, blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + h6, blockquote + section, canvas + h1, canvas + h2, canvas + h3, canvas + h4, canvas + h5, canvas + h6, canvas + section, details + h1, details + h2, details + h3, details + h4, details + h5, details + h6, details + section, dl + h1, dl + h2, dl + h3, dl + h4, dl + h5, dl + h6, dl + section, figure + h1, figure + h2, figure + h3, figure + h4, figure + h5, figure + h6, figure + section, footer + h1, footer + h2, footer + h3, footer + h4, footer + h5, footer + h6, footer + section, form + h1, form + h2, form + h3, form + h4, form + h5, form + h6, form + section, header + h1, header + h2, header + h3, header + h4, header + h5, header + h6, header + section, hr + h1, hr + h2, hr + h3, hr + h4, hr + h5, hr + h6, hr + section, img + h1, img + h2, img + h3, img + h4, img + h5, img + h6, img + section, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6, ol + section, p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + section, pre + h1, pre + h2, pre + h3, pre + h4, pre + h5, pre + h6, pre + section, table + h1, table + h2, table + h3, table + h4, table + h5, table + h6, table + section, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ul + section, video + h1, video + h2, video + h3, video + h4, video + h5, video + h6, video + section 
{ margin-top: 1.5em; }
/*********************************************************/




/*********************************************************/
/*** Navigation */
nav { display: block; }
.ink-navigation {  overflow: visible; margin-bottom:2em;}
.ink-navigation ul { list-style-type: none; padding: 0; margin: 0; }
.ink-navigation ul.menu:after  {  content: "."; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
.ink-navigation ul.menu.horizontal li { float: left; position: relative; }
.ink-navigation ul.menu.horizontal li a { padding: 0.5em 1em; display: block; line-height: 1.7; }

.ink-navigation ul.menu.grey { background: #eee; }
.ink-navigation ul.menu.grey li a { padding: 0.4em 1.4em; text-decoration: none;}
.ink-navigation ul.menu.grey li a:hover { background-color: #eee; color: rgb(66, 139, 202); }

.ink-navigation ul.menu.grey li.active { background-color: hsl(208,66%,43%); color: white; }
.ink-navigation ul.menu.grey li.active a { background-color: hsl(208,66%,43%); color: white; }
.ink-navigation ul.menu.grey li.active a:hover { background-color: hsl(208,66%,43%); color: white; }
/*********************************************************/




/*********************************************************/
/*** FONT AWESOME */
@font-face 
{
  font-family: 'FontAwesome';
  src: url('../font//fontawesome-webfont.eot?v=3.2.1');
  src: url('../font//fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font//fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font//fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font//fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] 
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

[class^="icon-"]:before, [class*=" icon-"]:before 
{
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
a [class^="icon-"], a [class*=" icon-"] { display: inline; }

.icon-envelope-alt:before { content: "\f003"; }
.icon-film:before { content: "\f008"; }
.icon-home:before { content: "\f015"; }
.icon-print:before { content: "\f02f"; }
.icon-picture:before { content: "\f03e"; }
.icon-comment:before { content: "\f075"; }
.icon-google-plus:before { content: "\f0d5"; }
.icon-linkedin:before { content: "\f0e1"; }
.icon-file-text:before { content: "\f15c"; }
/*********************************************************/
